*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    z-index: 10003;
    position: fixed;
    border-radius: 50%;

}

#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e35;
    z-index: 10001;
    position: fixed;
    border-radius: 50%;
    filter: blur(50px);
}
#nav{
    position: fixed;
    height: 115px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 100px;
    z-index: 10002;
}

#nav img{
    height: 67px;
}

#nav h4{
    text-transform: uppercase;
    margin: 0 15px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}


video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    
    position: relative;
    background-color: rgba(0, 0, 0, 0.293);
    z-index: 9999;
   
}

#page1{
    height: 100vh;
    z-index: 10000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page1 h1{

    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 75px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -2;
}

#page1 h2{
    font-size: 23px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

#page1 h5{
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#page2{
    min-height: 100vh;
    width: 100%;
}

#scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
  }
  
  .scroller-in {
    display: flex;

    white-space: nowrap;
    position: relative;
    font-size: 45px;
    
    
    text-transform: uppercase;
  }

  .scroller-in h1 {
    color: BLACK;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 900;
    transition: all linear 0.4s;
    font-family: "Montserrat", sans-serif;
    position: relative;
    
  }
  
  .scroller-in h1:hover {
    color: #95C11E;
    z-index: 100;
    font-size: 46px;
    
  text-shadow: 0 0 10px #95C11Eaa;
  }

  .scroller-in .t1::before {
    
    content: "TOPTRACER RANGE";
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 3px #ffffff;
    z-index: -2;
  }
  
  .scroller-in .t2::before {
    content: "GOLF LESSONS";
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 3px #ffffff;
    z-index: -2;
  }
  .scroller-in .t3::before {
    content: "ADVENTURE GOLF";
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 3px #ffffff;
    z-index: -2;
  }
  .scroller-in .t4::before {
    content: "CAFÉ";
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 3px #ffffff;
    z-index: -2;
  }
  .scroller-in .t5:before {
    content: "EVENTS ";
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 3px #ffffff;
    z-index: -2;
  }
  

  .about-us h1{
    text-align: center;
    margin-top: 80px;
    font-weight: 900;
    font-size: 37px;
  }

  .about-us h2,p{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    margin-top: 22px;
    display: inline-block;
  }

  

  .about-us-img1{
    
    display: inline-block;
    width: 128.81px;
    height: 128.81px;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 110px;
    object-fit: cover;
    z-index: 97;
    position: relative;
  }
  .about-us-img2{
    
    position: relative;
    display: inline-block;
    width: 128.81px;
    height: 171.74px;
    margin-left: 100px;
    margin-right: auto;
    object-fit: cover;
    border-radius: 5px;
    z-index: 97;
  }
  
  .about-us p{
    width: 630px;
    margin-left: 310px;
}

#card-container{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.card h1{
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: auto;
    margin-top: -45px;
    font-weight: 900;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.card{
   
    display: inline-block;
    width: 312.82px;
    height: 538.9px;
    border-radius: 10px;
    margin-top: 50px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: 10000;
    position: relative;
    
}



#card1{
    z-index: 1;
    object-fit: cover;
    position: relative;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}


#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#card3{
    position: relative;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    object-fit: cover;
    z-index: 1;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #95C11E;
    padding-left: 25px;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all ease 0.6s;
}

.card:hover .overlay{
    opacity: 1;
}

.overlay h2{
    color: black;
    font-weight: 900;
    font-size: 25px;
    margin-top: 80px;
    margin-right: 25px;
}

.overlay p{
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
    margin-left: -0px;
    width: 250px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
}